<mat-toolbar class="flex items-center justify-between px-4 py-2 h-16">
    <div>
        <img [src]="'assets/logo-g2sp.svg'" class="h-12 mr-8" alt="logo" />
    </div>
    <nav class="flex-1 flex items-center justify-normal h-full">
        <g2sp-header-item
            categoryName="SERVICES"
            (categoryClicked)="onClickCategory($event)"
        />
        <g2sp-header-item
            categoryName="TEAM"
            (categoryClicked)="onClickCategory($event)"
        />

        <g2sp-header-item
            categoryName="CONTACT"
            (categoryClicked)="onClickCategory($event)"
        />
    </nav>
</mat-toolbar>
<!--toto-->
<!--sfgmjsfsdfsdfsdfsdfgolsdifjhl   -->
<!--qfsdfsdsdfsdfsdfdfsd-->
