<g2sp-services-section id="why" [sectionTitle]="'#Why' | g2spTranslate">
    <div
        class="flex justify-center mt-20"
        [@fadeIn]="isSectionVisible ? 'visible' : 'void'"
    >
        <g2sp-why-section-item
            [description]="'#ServiceWhyCollabs' | g2spTranslate"
            iconName="hub"
        />
        <g2sp-why-section-item
            [description]="'#ServiceWhyCulture' | g2spTranslate"
            iconName="compost"
        />
        <g2sp-why-section-item
            [description]="'#ServiceWhyThreat' | g2spTranslate"
            iconName="bug_report"
        />
        <g2sp-why-section-item
            [description]="'#ServiceWhyPrepa' | g2spTranslate"
            iconName="lock_open"
        />
    </div>
</g2sp-services-section>
