<mat-toolbar
    class="flex items-center justify-between px-4 py-2 h-16 shadow-gray-50 shadow-lg"
>
    <div>
        <img [src]="'assets/logo-g2sp.svg'" class="h-12 mr-8" alt="logo" />
    </div>
    <nav class="flex-1 flex items-center justify-normal h-full">
        <g2sp-header-item
            [categoryName]="PageId.SERVICES"
            class="h-16"
            [ngClass]="{
                'border-b-2 border-blue-500 transition duration-200':
                    isSelected('SERVICES')
            }"
            [isSelected]="true"
            (categoryClicked)="onClickCategory($event)"
        />
        <g2sp-header-item
            [categoryName]="PageId.TEAM"
            class="h-16"
            [ngClass]="{
                'border-b-2 border-blue-500 transition duration-200':
                    isSelected('TEAM')
            }"
            (categoryClicked)="onClickCategory($event)"
        />
        <g2sp-header-item
            [categoryName]="PageId.CONTACT"
            class="h-16"
            [ngClass]="{
                'border-b-2 border-blue-500 transition duration-200':
                    isSelected('CONTACT')
            }"
            (categoryClicked)="onClickCategory($event)"
        />
    </nav>
</mat-toolbar>
