<div class="flex flex-col justify-center">
    <div class="mt-8 w-full self-center">
        <g2sp-page-header iconPath="assets/secu5croped.jpg"></g2sp-page-header>
    </div>

    <div class="px-24 w-full text-lg">
        <div class="mt-12">
            <g2sp-services-section
                [sectionTitle]="'POURQUOI ?'"
                [alignTitle]="'middle'"
            >
                <div class="flex justify-center mt-20">
                    <ng-container *ngFor="let section of whySections">
                        <div class="flex flex-col">
                            <div class="text-center">
                                <mat-icon class="text-blue-700 scale-[300%]">{{
                                    section.iconName
                                }}</mat-icon>
                            </div>
                            <div class="w-72 text-center mt-10 px-8">
                                {{ section.description }}
                            </div>
                        </div>
                    </ng-container>
                </div>
            </g2sp-services-section>
        </div>

        <div class="mt-12">
            <g2sp-services-section
                [sectionTitle]="'SIMPLE'"
                [alignTitle]="'middle'"
            >
                <div class="flex flex-col justify-center text-center mt-12">
                    <span class="flex justify-center items-center">
                        <mat-icon class="text-blue-700 scale-[300%] mr-8">
                            query_stats
                        </mat-icon>
                        <div>
                            Un état des lieux précis des forces et faiblesses de
                            votre résilience cyber : un rapport opérationnel
                            détaillé, une synthèse pour la Direction.
                        </div>
                    </span>

                    <span class="flex justify-center items-center mt-16">
                        <mat-icon class="text-blue-700 scale-[300%] mr-8">
                            ads_click
                        </mat-icon>
                        <div>
                            Des recommandations ciblées, réalistes, échelonnées,
                            adaptées au niveau de digitalisation de vos
                            processus.
                        </div>
                    </span>

                    <span class="flex justify-center items-center mt-16">
                        <mat-icon class="text-blue-700 scale-[300%] mr-8">
                            group_3
                        </mat-icon>
                        <div>
                            Un accompagnement au juste nécessaire cohérent avec
                            le dimensionnement de vos ressources et les
                            caractéristiques de vos activités.
                        </div>
                    </span>
                </div>
            </g2sp-services-section>
        </div>

        <div class="mt-12">
            <g2sp-services-section
                [sectionTitle]="'COMPÉTENT'"
                [alignTitle]="'middle'"
            >
                <div
                    class="mt-12 px-64 pt-64 w-full"
                    style="
                        background-image: url('../../../../assets/expertise.jpg');
                    "
                >
                    <div class="w-full flex flex-col">
                        <!-- carré global-->
                        <div class="flex">
                            <!-- ligne une-->
                            <div class="inline-block">
                                <mat-card class="p-10">
                                    <div class="text-center">
                                        <mat-icon
                                            class="text-blue-700 scale-[250%]"
                                            >verified_user</mat-icon
                                        >
                                    </div>
                                    <div class="pt-8 font-bold">
                                        Analyse des cyber-risques
                                    </div>
                                </mat-card>
                            </div>
                            <div class="inline-block flex-1">
                                <mat-card class="p-10">
                                    <div class="text-center">
                                        <mat-icon
                                            class="text-blue-700 scale-[250%]"
                                            >assessment</mat-icon
                                        >
                                        -
                                    </div>
                                    <div class="pt-8 font-bold">
                                        Audit interne organisation et processus
                                    </div>
                                </mat-card>
                            </div>
                        </div>

                        <div class="flex mt-1">
                            <!-- ligne deux-->
                            <div class="inline-block flex-1">
                                <mat-card class="p-10">
                                    <div class="text-center">
                                        <mat-icon
                                            class="text-blue-700 scale-[250%]"
                                            >engineering</mat-icon
                                        >
                                        -
                                    </div>
                                    <div class="pt-8 font-bold">
                                        Pilotage du déploiement des plans de
                                        sécurisation
                                    </div>
                                </mat-card>
                            </div>

                            <div class="inline-block">
                                <mat-card class="p-10">
                                    <div class="text-center">
                                        <mat-icon
                                            class="text-blue-700 scale-[250%]"
                                            >trending_up</mat-icon
                                        >
                                        -
                                    </div>
                                    <div class="pt-8 font-bold">
                                        Montée en maturité digitale
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </div>

                <p>Un accompagnement transparent, indépendant, et réaliste</p>
            </g2sp-services-section>
        </div>
    </div>
</div>
