<g2sp-services-section [sectionTitle]="'#Simple' | g2spTranslate">
    <div
        id="simple"
        class="flex flex-col justify-center text-center mt-12 pl-16"
    >
        <g2sp-simple-section-item
            [description]="'#ServiceSimpleState' | g2spTranslate"
            iconName="query_stats"
            [@slideIn]="isSectionVisible ? 'visible' : 'void'"
        />
        <g2sp-simple-section-item
            class="mt-16"
            [description]="'#ServiceSimpleTarget' | g2spTranslate"
            iconName="ads_click"
            [@slideInSlow]="isSectionVisible ? 'visible' : 'void'"
        />
        <g2sp-simple-section-item
            class="mt-16"
            [description]="'#ServiceSimpleSized' | g2spTranslate"
            iconName="group_3"
            [@slideInVerySlow]="isSectionVisible ? 'visible' : 'void'"
        />
    </div>
</g2sp-services-section>
