<div class="pt-8 h-[750px] sm:h-[450px]">
    <g2sp-services-section
        [sectionTitle]="'#Competent' | g2spTranslate"
        [noDivider]="true"
    >
        <div class="h-96 w-full">
            <div
                class="w-full flex flex-col justify-center text-gray-600 pb-32"
            >
                <p class="text-center font-bold sm:pt-8">
                    {{ '#ServiceCompetentAccompagnement' | g2spTranslate }}
                </p>
                <div class="sm:flex sm:mx-auto sm:pt-16">
                    <div
                        [@slideInLeftTop]="
                            isSectionVisible ? 'visible' : 'void'
                        "
                    >
                        <g2sp-competent-section-item
                            iconColor="text-green-700"
                            iconName="verified_user"
                            [description]="'#CyberThreat' | g2spTranslate"
                        />
                    </div>
                    <div
                        [@slideInRightTop]="
                            isSectionVisible ? 'visible' : 'void'
                        "
                    >
                        <g2sp-competent-section-item
                            id=""
                            iconColor="text-purple-800"
                            iconName="assessment"
                            [description]="'#InternalAudit' | g2spTranslate"
                        />
                    </div>
                </div>
                <div id="competent" class="sm:flex sm:mx-auto sm:pt-1">
                    <div
                        [@slideInLeftBot]="
                            isSectionVisible ? 'visible' : 'void'
                        "
                    >
                        <g2sp-competent-section-item
                            iconColor="text-blue-600"
                            iconName="engineering"
                            [description]="'#Deployment' | g2spTranslate"
                        />
                    </div>
                    <div
                        class="sm:pb-16"
                        [@slideInRightBot]="
                            isSectionVisible ? 'visible' : 'void'
                        "
                    >
                        <g2sp-competent-section-item
                            iconColor="text-yellow-500"
                            iconName="trending_up"
                            [description]="'#Maturity' | g2spTranslate"
                        />
                    </div>
                </div>
            </div>
        </div>
    </g2sp-services-section>
</div>
