@use '@angular/material' as mat;
@include mat.core();
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import 'material-icons/iconfont/material-icons.css';

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
    height: auto;
    width: 100%;
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

$custom-typography: mat.define-typography-config(
    $font-family: 'Nunito, sans-serif',
);

/* Appliquer la typographie par défaut aux composants Angular Material */
@include mat.all-component-typographies($custom-typography);

.mat-ripple-element {
    background-color: rgba(
        255,
        255,
        255,
        0.2
    ); /* Couleur (rouge avec 50% de transparence) */
    /* Autres styles personnalisés pour l'effet matRipple si nécessaire */
}

/* Configurer Tailwind pour utiliser Nunito */
@layer base {
    body {
        font-family: 'Nunito', sans-serif;
    }
}

.material-icons.color_blue {
    color: #0369a1;
}
