<div class="flex flex-col w-full pt-6 px-6 space-y-3 text">
    <g2sp-team-item
        teamMemberTranslateId="#Francois"
        imgPath="assets/bio/francois-bio.png"
        [bioChaptersTranslateId]="[
            '#FrancoisBio',
            '#FrancoisBio2',
            '#FrancoisBio3',
            '#FrancoisBio4',
            '#FrancoisBio5'
        ]"
    />
    <g2sp-team-item
        teamMemberTranslateId="#Pierre"
        imgPath="assets/bio/pierre-bio.png"
        [bioChaptersTranslateId]="[
            '#PierreBio',
            '#PierreBio2',
            '#PierreBio3',
            '#PierreBio4',
            '#PierreBio5'
        ]"
    />
    <g2sp-team-item
        teamMemberTranslateId="#Youssef"
        imgPath="assets/bio/youssef-bio.png"
        [bioChaptersTranslateId]="[
            '#YoussefBio',
            '#YoussefBio2',
            '#YoussefBio3',
            '#YoussefBio4'
        ]"
    />
    <g2sp-team-item
        teamMemberTranslateId="#Bruno"
        imgPath="assets/bio/bruno-bio.png"
        [bioChaptersTranslateId]="[
            '#BrunoBio',
            '#BrunoBio2',
            '#BrunoBio3',
            '#BrunoBio4'
        ]"
    />
</div>
