<div class="flex flex-col w-full pt-6 px-6 space-y-3 text">
    <div class="sm:flex sm:justify-around sm:items-start">
        <g2sp-team-item
            class="sm:flex-1"
            teamMemberTranslateId="#Francois"
            imgPath="assets/bio/francois.png"
            [bioChaptersTranslateId]="[
                '#FrancoisBio',
                '#FrancoisBio2',
                '#FrancoisBio3',
                '#FrancoisBio4',
                '#FrancoisBio5'
            ]"
        />
        <g2sp-team-item
            class="sm:flex-1"
            teamMemberTranslateId="#Pierre"
            imgPath="assets/bio/pierre.png"
            [bioChaptersTranslateId]="[
                '#PierreBio',
                '#PierreBio2',
                '#PierreBio3',
                '#PierreBio4',
                '#PierreBio5'
            ]"
        />
        <g2sp-team-item
            class="sm:flex-1"
            teamMemberTranslateId="#Youssef"
            imgPath="assets/bio/youssef.png"
            [bioChaptersTranslateId]="[
                '#YoussefBio',
                '#YoussefBio2',
                '#YoussefBio3',
                '#YoussefBio4'
            ]"
        />
    </div>

    <div class="mt-12 hidden sm:block">
        <mat-divider></mat-divider>
    </div>

    <div class="sm:flex sm:justify-around sm:items-start">
        <g2sp-team-item
            class="sm:flex-1"
            teamMemberTranslateId="#Bruno"
            imgPath="assets/bio/bruno.png"
            [bioChaptersTranslateId]="[
                '#BrunoBio',
                '#BrunoBio2',
                '#BrunoBio3',
                '#BrunoBio4'
            ]"
        />
        <g2sp-team-item
            class="sm:flex-1"
            teamMemberTranslateId="#Elise"
            imgPath="assets/bio/elise.jpeg"
            [bioChaptersTranslateId]="[
                '#EliseBio',
                '#EliseBio2',
                '#EliseBio3',
                '#EliseBio4'
            ]"
        />

        <g2sp-team-item
            class="sm:flex-1"
            teamMemberTranslateId="#Gilles"
            imgPath="assets/bio/gilles.jpeg"
            [bioChaptersTranslateId]="[
                '#GillesBio',
                '#GillesBio2',
                '#GillesBio3',
                '#GillesBio4',
                '#GillesBio5'
            ]"
        />
    </div>
</div>
